<header id="navbar" class="bg-navColor fixed w-full shadow-md shadow-blue-300 top-0 left-0 z-50">
    <nav class="max-w-6xl mx-auto px-4 flex items-center justify-between sm:h-20 text-black">
        <div class="sm:text-4xl">
            <h1>Dona AGOSSOU</h1>
        </div>
        <div id="nav-menu" class="absolute sm:static top-0 left-[-100%] sm:left-0 sm:min-h-0 min-h-[80vh] transition-all w-full sm:w-auto backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden">
            <ul class="flex flex-col sm:flex-row sm:gap-6 gap-8">
                <li>
                    <a href="#home" class="nav-link active">HOME</a>
                </li>

                <li>
                    <a href="#skills" class="nav-link">SKILLS</a>
                </li>

                <li>
                    <a href="#projects" class="nav-link">PROJECTS</a>
                </li>

                <li>
                    <a href="#contacts" class="nav-link">CONTACTS</a>
                </li>
            </ul>
        </div>
        <!-- RESPONSIVE MENU - MENU HAMBURGER -->
        <div class="text-xl sm:text-3xl cursor-pointer sm:hidden z-50">
            <i class="ri-menu-3-fill" id="hamburger"></i>
        </div>          
    </nav>
</header>

<script src="/src/js/scroll.js"></script>
