@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/********************************************* PERSONNALISATION DU CSS *********************************************/

html {
  @apply scroll-smooth;
}

body {
  @apply tracking-wider;
}

section {
  @apply py-20 md:py-28 bg-sectionColor;
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold font-DancingScript;
}

.nav-link {
  @apply text-lg font-bold duration-500;
}

.active {
  @apply text-cyan-600;
}

.nav-link:hover {
  @apply text-cyan-600;
}

.btn {
  @apply border border-black bg-gradient-to-r  from-yellow-300 to-blue-500 rounded-md px-5 py-2 duration-300;
}

.btn span {
  @apply font-bold;
}

.btn:hover {
  @apply opacity-90;
}

.subtitle {
  @apply text-3xl md:text-4xl lg:text-5xl font-DancingScript;
}

/* My Skills */

.skills_card img {
  @apply duration-300;
}

.skills_card:hover {
  @apply scale-110;
}

/* Contacts | form */

input,
textarea {
  @apply w-full border border-gray-800 px-4 py-3 rounded-lg;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  @apply outline-none border-blue-500;
}

/* Projects | img */

.card img {
  @apply w-full duration-300;
}

.card:hover img {
  @apply scale-110;
}

.card div, 
.card .card_info p {
  @apply duration-300;
}

.card:hover .card_info {
  @apply bg-blue-500 text-white;
}

.card:hover .card_info p {
  @apply text-white;
}